.sec4 .text{
    margin-left: 4%;
    margin-top: 45px;
}
 .sec4 .text4{
    font-size: 45px;
    margin-top: 2.5%;
}

 .sec4{ 
clear: both;
padding-top:140px;
background-image: url('/src/Components/imges/golf-ball-flag\ 1.png');
height: 91vh;
background-repeat: no-repeat;
background-size: cover; 
text-align: center;
} 

.sec4 p{
    font-size: 25px;
}